[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/golang.org/x"]
	path = vendor/golang.org/x
	url = https://golang.org/x
