language: go

branches:
  only:
    - "master"

# In theory, older versions would probably work just fine
go:
  - 1.8
  - 1.9

-matrix:	
-  allow_failures:	
-    - go: 1.8	
-    - go: 1.9	
-  fast_finish: true	
-

env:
  - GOOS=linux
  - GOOS=darwin
  - GOOS=windows

script:
  - go get -u -t ./...

notifications:
  email:
    on_success: never
    on_failure: never